
process {
    maxForks = 2
}

docker {
    enabled = true
}

params {

    REFERENCE_GENOME_FASTA = "Homo_sapiens.GRCh37.dna.primary_assembly.fa"
    DBSNP_VCF = "dbsnp_138.b37.vcf"
    GOLD_STANDART_INDELS_1000G_VCF = "Mills_and_1000G_gold_standard.indels.b37.vcf"
    OMNI25_1000G_VCF = "1000G_omni2.5.b37.vcf"
    PHASE1_INDELS_1000G_VCF = "1000G_phase1.indels.b37.vcf"

}
