params {

    CACNA1S {
        CHR = "1"
        START = "201008639"
        END =  "201081694"
    }

    CFTR {
        CHR = "7"
        START = "117120016"
        END =  "117308719"
    }

    CYP19A1 {
        CHR = "15"
        START = "51500253"
        END =  "51630795"
    }

    CYP1A1 {
        CHR = "15"
        START = "75011882"
        END =  "75017951"
    }

    CYP1A2 {
        CHR = "15"
        START = "75041183"
        END =  "75048941"
    }

    CYP1B1 {
        CHR = "2"
        START = "38294745"
        END =  "38303323"
    }

    CYP26A1 {
        CHR = "10"
        START = "94833646"
        END =  "94837641"
    }

    CYP2A13 {
        CHR = "19"
        START = "41594355"
        END =  "41602100"
    }

    CYP2A6 {
        CHR = "19"
        START = "41349442"
        END =  "41356352"
    }

    CYP2A7 {
        CHR = "19"
        START = "41381343"
        END =  "41388657"
    }

    CYP2B6 {
        CHR = "19"
        START = "41497203"
        END =  "41524301"
    }

    CYP2B7 {
        CHR = "19"
        START = "41430169"
        END =  "41456565"
    }

    CYP2C19 {
        CHR = "10"
        START = "96522437"
        END =  "96612962"
    }

    CYP2C8 {
        CHR = "10"
        START = "96796528"
        END =  "96829254"
    }

    CYP2C9 {
        CHR = "10"
        START = "96698414"
        END =  "96749148"
    }

    CYP2D6 {
        CHR = "22"
        START = "42522500"
        END =  "42526883"
    }

    CYP2D7 {
        CHR = "22"
        START = "42536213"
        END =  "42540576"
    }

    CYP2E1 {
        CHR = "10"
        START = "135340866"
        END =  "135352620"
    }

    CYP2F1 {
        CHR = "19"
        START = "41620336"
        END =  "41634286"
    }

    CYP2J2 {
        CHR = "1"
        START = "60358979"
        END =  "60392470"
    }

    CYP2R1 {
        CHR = "11"
        START = "14899554"
        END =  "14913751"
    }

    CYP2S1 {
        CHR = "19"
        START = "41699111"
        END =  "41713444"
    }

    CYP2W1 {
        CHR = "7"
        START = "1022834"
        END =  "1029276"
    }

    CYP3A4 {
        CHR = "7"
        START = "99354582"
        END =  "99381811"
    }

    CYP3A43 {
        CHR = "7"
        START = "99425635"
        END =  "99463727"
    }

    CYP3A5 {
        CHR = "7"
        START = "99245811"
        END =  "99277649"
    }

    CYP3A7 {
        CHR = "7"
        START = "99302659"
        END =  "99332823"
    }

    CYP4B1 {
        CHR = "1"
        START = "47264669"
        END =  "47285021"
    }

    CYP4F2 {
        CHR = "19"
        START = "15988833"
        END =  "16008930"
    }

    DPYD {
        CHR = "1"
        START = "97543298"
        END =  "98386615"
    }

    EGFR {
        CHR = "7"
        START = "55086713"
        END =  "55275773"
    }

    G6PD {
        CHR = "X"
        START = "153759604"
        END =  "153775801"
    }

    GSTM1 {
        CHR = "1"
        START = "110230417"
        END =  "110236367"
    }

    GSTP1 {
        CHR = "11"
        START = "67351065"
        END =  "67354124"
    }

    GSTT1 {
        CHR = "22"
        START = "24376132"
        END =  "24384311"
    }

    IFNL3 {
        CHR = "19"
        START = "39734245"
        END =  "39735646"
    }

    NAT1 {
        CHR = "8"
        START = "18067611"
        END =  "18081198"
    }

    NAT2 {
        CHR = "8"
        START = "18248754"
        END =  "18258723"
    }

    NUDT15 {
        CHR = "13"
        START = "48611702"
        END =  "48621364"
    }

    POR {
        CHR = "7"
        START = "75544419"
        END =  "75616173"
    }

    RYR1 {
        CHR = "19"
        START = "38924339"
        END =  "39078204"
    }

    SLC15A2 {
        CHR = "3"
        START = "121613170"
        END =  "121663034"
    }

    SLC22A2 {
        CHR = "6"
        START = "160637793"
        END =  "160679963"
    }

    SLCO1B1 {
        CHR = "12"
        START = "21284127"
        END =  "21392730"
    }

    SLCO1B3 {
        CHR = "12"
        START = "20963637"
        END =  "21069845"
    }

    SLCO2B1 {
        CHR = "11"
        START = "74870843"
        END =  "74917445"
    }

    SULT1A1 {
        CHR = "16"
        START = "28616907"
        END =  "28620649"
    }

    TBXAS1 {
        CHR = "7"
        START = "139528951"
        END =  "139720125"
    }

    TPMT {
        CHR = "6"
        START = "18128541"
        END =  "18155400"
    }

    UGT1A1 {
        CHR = "2"
        START = "234668918"
        END =  "234681945"
    }

    UGT1A4 {
        CHR = "2"
        START = "234627437"
        END =  "234681945"
    }

    UGT2B15 {
        CHR = "4"
        START = "69512314"
        END =  "69536494"
    }

    UGT2B17 {
        CHR = "4"
        START = "69402901"
        END =  "69434245"
    }

    UGT2B7 {
        CHR = "4"
        START = "69962191"
        END =  "69978705"
    }

    VDR {
        CHR = "12"
        START = "48235319"
        END =  "48298814"
    }

    VKORC1 {
        CHR = "16"
        START = "31102162"
        END =  "31106320"
    }

}